:root {
  --color-primary: #2e313b;
  --color-primary-add: #00bdff;
  --color-primary-delete: #ff001a;
  --color-primary-list: greenyellow;
  --color-primary-font: #051100;

  font-size: 60%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container {
  margin-top: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Bree Serif;
}

#container {
  width: 90vw;
  max-width: 700px;
}
