:root {
  font-size: 80%;
}

#page-landing {
  background: var(--color-primary);
}

#page-landing #container {
  /* border: 1px solid red; */
  /* margin-top: 10rem;
  margin-bottom: 10rem; */
  display: grid;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.6rem;
  /* border: 1px solid red; */
}

.button-container button {
  margin-bottom: 1.6rem;
  display: flex;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
}

#btn-add {
  margin: 3.5rem;
  border: 0;
  background: var(--color-primary-add);
  width: 11rem;
  text-decoration: none;
  cursor: pointer;
  display: center;
  /* border: 1px solid red; */
}

#btn-delete {
  margin: 3.5rem;
  background: var(--color-primary-delete);
  border: 0;
  text-decoration: none;
  width: 11rem;
  cursor: pointer;
  /* border: 1px solid red; */
}
