:root {
  font-size: 80%;
}

#page-landing {
  background: var(--color-primary);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin: 1.6rem;
  /* border: 1px solid red; */
}

.search-container input[type='text'] {
  padding-left: 2rem;
  /* border: 1px solid red; */
  outline: none;
}

.search-container i {
  position: absolute;
  /* margin-top: 0.4rem; */
  margin: 0.4rem;
  /* border: 1px solid red; */
}

.button-container {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#btn-add {
  margin-top: 1.5rem;
  margin-left: 3.5rem;
  border: 2px solid;
  background: none;
  color: var(--color-primary-add);
  width: 15rem;
  height: 5rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  /* overflow: hidden; */
  transition: 300ms;
  letter-spacing: 5px;
  outline: none;
  /* border: 1px solid red; */
}

#btn-add:hover {
  background: var(--color-primary-add);
  border: 2px solid var(--color-primary-add);
  box-shadow: 0 0 5px;
  color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary-add),
    0 0 25px var(--color-primary-add), 0 0 50px var(--color-primary-add),
    0 0 200px var(--color-primary-add);
}

#btn-delete {
  margin: 3.5rem;
  background: none;
  color: var(--color-primary-delete);
  border: 2px solid;
  text-decoration: none;
  width: 15rem;
  height: 5rem;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 5px;
  outline: none;
}

#btn-delete:hover {
  background: var(--color-primary-delete);
  border: 2px solid var(--color-primary-delete);
  box-shadow: 0 0 5px;
  color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary-delete),
    0 0 25px var(--color-primary-delete), 0 0 50px var(--color-primary-add),
    0 0 200px var(--color-primary-delete);
}

.list-container {
  /* border: 1px solid red; */
  padding: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--color-primary-list);
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#logo-image {
  margin-top: 10rem;
  width: 12rem;
}

#logo-text {
  margin-bottom: 1rem;
  width: 30rem;
}

#logo-description {
  width: 25rem;
}

@media (min-width: 900px) {
  #logo-container {
    padding-top: 10rem;
    display: inline-flexbox;
    flex-direction: row;
    /* align-items: center;
    align-content: space-between; */
    width: 120%;
    /* border: 1px solid red; */
  }
  #logo-container img {
    /* border: 1px solid red; */
    margin: 0;
  }
  #logo-container #logo-text {
    margin-left: 0;
    width: 45rem;
  }
  #logo-container #logo-image {
    margin-left: 0;
    width: 15rem;
  }

  #logo-description {
    display: flex;
    flex-direction: column;
    width: 45rem;
  }

  .button-container {
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0;
  }
  #btn-add {
    margin: 0;
    margin-left: 3rem;
    align-self: center;
    /* justify-content: center; */
    border: 2px solid;
    background: none;
    color: var(--color-primary-add);
    width: 15rem;
    height: 5rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    transition: 300ms;
    letter-spacing: 5px;
    /* border: 1px solid red; */
  }
}
