:root {
  font-size: 80%;
}

#page-landing {
  background: var(--color-primary);
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  /* border: 1px solid red; */
}

.openMenu i {
  color: white;
  font-size: 3rem;
  display: block;
  position: absolute;
  top: 35px;
  right: 18px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.closeMenu {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: right;
  /* border: 1px solid red; */
  /* display: none; */
}

nav .mainMenu {
  height: 100vh;
  /* width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  transition: top 1s ease;
  display: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}

.openMenu i:hover {
  color: var(--color-primary-font);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin: 1.6rem;
  /* border: 1px solid red; */
}

.search-container input[type='text'] {
  padding-left: 2rem;
  /* border: 1px solid red; */
  outline: none;
}

.search-container i {
  position: absolute;
  /* margin-top: 0.4rem; */
  margin: 0.4rem;
  /* border: 1px solid red; */
}

.button-container {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#btn-add {
  margin-top: 1.5rem;
  margin-left: 3.5rem;
  border: 2px solid;
  background: none;
  color: var(--color-primary-add);
  width: 15rem;
  height: 5rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  /* overflow: hidden; */
  transition: 300ms;
  letter-spacing: 5px;
  outline: none;
  /* border: 1px solid red; */
}

#btn-add:hover {
  background: var(--color-primary-add);
  border: 2px solid var(--color-primary-add);
  box-shadow: 0 0 5px;
  color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary-add),
    0 0 25px var(--color-primary-add), 0 0 50px var(--color-primary-add),
    0 0 200px var(--color-primary-add);
}

#btn-delete {
  margin: 3.5rem;
  background: none;
  color: var(--color-primary-delete);
  border: 2px solid;
  text-decoration: none;
  width: 15rem;
  height: 5rem;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 5px;
  outline: none;
}

#btn-delete:hover {
  background: var(--color-primary-delete);
  border: 2px solid var(--color-primary-delete);
  box-shadow: 0 0 5px;
  color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary-delete),
    0 0 25px var(--color-primary-delete), 0 0 50px var(--color-primary-add),
    0 0 200px var(--color-primary-delete);
}

.list-container {
  align-content: center;
  justify-content: center;
  color: var(--color-primary-list);
  /* border: 1px solid red; */
}

.menu-container {
  margin-bottom: 4rem;
  visibility: hidden;
  cursor: pointer;
  /* border: 1px solid red; */
}

.menu-container a {
  text-decoration: none;
  margin: 1rem;
  color: white;
  transition: 0.5s;
  align-content: center;
  justify-content: center;
}

.menu-container a:hover {
  color: grey;
}

#lista img {
  width: 16rem;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
}

#lista {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#logo-image {
  margin-top: 10rem;
  width: 12rem;
}

#logo-text {
  margin-bottom: 1rem;
  width: 30rem;
}

#logo-description {
  width: 25rem;
}

@media (min-width: 900px) {
  #logo-container {
    padding-top: 10rem;
    display: inline-flexbox;
    flex-direction: row;
    /* align-items: center;
    align-content: space-between; */
    width: 120%;
    /* border: 1px solid red; */
  }

  #logo-container img {
    /* border: 1px solid red; */
    margin: 0;
  }
  #logo-container #logo-text {
    margin-left: 0;
    width: 45rem;
  }
  #logo-container #logo-image {
    margin-left: 0;
    width: 15rem;
  }

  #logo-description {
    display: flex;
    flex-direction: column;
    width: 45rem;
  }

  .button-container {
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0;
  }
  #btn-add {
    margin: 0;
    margin-left: 3rem;
    align-self: center;
    /* justify-content: center; */
    border: 2px solid;
    background: none;
    color: var(--color-primary-add);
    width: 15rem;
    height: 5rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    transition: 300ms;
    letter-spacing: 5px;
    /* border: 1px solid red; */
  }
}

small {
  color: #e74c3c;
  visibility: hidden;
  /* border: 1px solid red; */
}

#form-container input {
  display: block;
  margin: 0;
  font-size: 20px;
  color: #fff;
  width: 25rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.3);
}

#comment-form {
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

#btnSubmit {
  display: block;
  margin-top: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  /* color: white; */
  /* background: rgba(0, 0, 0, 0.3); */
}
